h1 {
  text-align: center;
  font-size: 4.2em;
}

h2 {
  text-align: center;
  font-size: 3.0em;
}

h3 {
  text-align: center;
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.game {
  height: 100%;
  width: 100%;
}

.prev-feedback {
  position: absolute;
  top: 2%;
  left: 2%;
  text-align: center;
  color: gray;
  font-weight: 100;
}

.feedback.correct {
  color: green;
  font-weight: bold;
}

.feedback.incorrect {
  color: red;
  font-weight: bold;
}

.quiz-slide {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.question {
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 12%;
  vertical-align: middle;
}

.photo {
  top: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 100px;
  background-color: none;
  width: 580px;
}

.photo.correct {
  background-color: green;
}

.photo.inccorrect {
  background-color: red;
}

.option1 {
  position: absolute;
  width: 40%;
  left: 0%;
  top: 75%;
}

.option2 {
  position: absolute;
  width: 40%;
  right: 0%;
  top: 75%;
}