h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.quiz-slide {

}

.question {
  left: 50%;
}

.photo {
  /*text-align: center;*/
}

.option1 {
  position: absolute;
  left: 20%;
}

.option2 {
  position: absolute;
  right: 20%;
}